@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap");
@font-face {
  font-family: "iconfont";
  src: url("../fonts/iconfont.eot?1559620020798");
  src: url("../fonts/iconfont.eot?1559620020798#iefix") format("embedded-opentype"), url("../fonts/iconfont.woff2?1559620020798") format("woff2"), url("../fonts/iconfont.woff?1559620020798") format("woff"), url("../fonts/iconfont.ttf?1559620020798") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.fi {
  display: inline-block;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-decoration: none;
  text-transform: none;
  letter-spacing: normal;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  line-height: 1;
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  font-variant-ligatures: discretionary-ligatures;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fi::before {
  font-family: "iconfont";
}

.fi-angular::before {
  content: "\e001";
}

.fi-archive::before {
  content: "\e002";
}

.fi-bootstrap::before {
  content: "\e003";
}

.fi-brush::before {
  content: "\e004";
}

.fi-business::before {
  content: "\e005";
}

.fi-chevron-down::before {
  content: "\e006";
}

.fi-chevron-up::before {
  content: "\e007";
}

.fi-close::before {
  content: "\e008";
}

.fi-code::before {
  content: "\e009";
}

.fi-coffee::before {
  content: "\e00a";
}

.fi-color-fill::before {
  content: "\e00b";
}

.fi-color-lens::before {
  content: "\e00c";
}

.fi-css3::before {
  content: "\e00d";
}

.fi-desktop::before {
  content: "\e00e";
}

.fi-drink::before {
  content: "\e00f";
}

.fi-edit::before {
  content: "\e010";
}

.fi-email::before {
  content: "\e011";
}

.fi-facebook::before {
  content: "\e012";
}

.fi-favorite::before {
  content: "\e013";
}

.fi-file-download::before {
  content: "\e014";
}

.fi-git::before {
  content: "\e015";
}

.fi-github::before {
  content: "\e016";
}

.fi-google::before {
  content: "\e017";
}

.fi-group::before {
  content: "\e018";
}

.fi-gulp::before {
  content: "\e019";
}

.fi-html5::before {
  content: "\e01a";
}

.fi-instagram::before {
  content: "\e01b";
}

.fi-js::before {
  content: "\e01c";
}

.fi-linkedin::before {
  content: "\e01d";
}

.fi-nodejs::before {
  content: "\e01e";
}

.fi-npm::before {
  content: "\e01f";
}

.fi-paypal::before {
  content: "\e020";
}

.fi-person::before {
  content: "\e021";
}

.fi-phone::before {
  content: "\e022";
}

.fi-pinterest::before {
  content: "\e023";
}

.fi-place::before {
  content: "\e024";
}

.fi-puzzle-piece::before {
  content: "\e025";
}

.fi-sass::before {
  content: "\e026";
}

.fi-share::before {
  content: "\e027";
}

.fi-skype::before {
  content: "\e028";
}

.fi-star::before {
  content: "\e029";
}

.fi-sun-o::before {
  content: "\e02a";
}

.fi-twitter::before {
  content: "\e02b";
}

.fi-view-quilt::before {
  content: "\e02c";
}

.card {
  position: relative;
  display: block;
  padding: 24px;
  border-radius: 8px;
  background: white;
  box-shadow: 0 6px 30px 0 rgba(0, 0, 0, 0.1);
}

.mb30 {
  margin-bottom: 30px;
}

.mb50 {
  margin-bottom: 50px;
}

body {
  font-family: "Nunito", sans-serif;
  background-color: #f5f5f5;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 24px;
  font-weight: 400;
  background-color: #4834d4;
  z-index: 9999999;
}

.signal {
  border: 3px solid currentColor;
  border-radius: 16px;
  height: 32px;
  width: 32px;
  opacity: 0;
  -webkit-animation: pulsate 1s ease-out infinite;
          animation: pulsate 1s ease-out infinite;
}

@-webkit-keyframes pulsate {
  0% {
    opacity: 0;
    transform: scale(0.1);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(1.2);
  }
}

@keyframes pulsate {
  0% {
    opacity: 0;
    transform: scale(0.1);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(1.2);
  }
}
@font-face {
  font-family: Anurati;
  src: url("/fonts/anurati-regular.otf");
  src: local("Anurati");
  src: url("/fonts/anurati-regular.otf") format("opentype");
}
.navbar-dark {
  transition: 0.25s;
}
.navbar-dark.bg-dark {
  background-color: #4834d4;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}
.navbar-dark .navbar-brand {
  font-family: Anurati, sans-serif;
  text-transform: uppercase;
}
.navbar-dark .navbar-nav .nav-link {
  position: relative;
  padding: 0.5rem 1rem;
  color: rgba(255, 255, 255, 0.87);
}
.navbar-dark .navbar-nav .active > .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 100%;
  height: 3px;
  background-color: #f36;
}
@media (max-width: 767px) {
  .navbar-dark .navbar-nav {
    background-color: #4834d4;
  }
  .navbar-dark .navbar-nav .active > .nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 3px;
    height: 100%;
  }
}

.section {
  position: relative;
}
.section-title {
  position: relative;
  margin-bottom: 50px;
  text-align: center;
}
.section-title::before, .section-title::after {
  content: "";
  position: absolute;
  bottom: -13px;
  height: 3px;
  border-radius: 2px;
  background-color: #4834d4;
}
.section-title::before {
  left: calc(50% - 35px);
  width: 50px;
}
.section-title::after {
  right: calc(50% - 35px);
  width: 15px;
}
.section-title h3::before {
  content: attr(data-title);
  position: absolute;
  top: -60px;
  left: 0;
  width: 100%;
  font-size: 6rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.04);
  overflow: hidden;
}
.section-title h3,
.section-title p {
  margin-bottom: 0;
}

.main-footer {
  padding: 24px 0;
  background: #1f1f1f;
  color: #787878;
}
.main-footer svg {
  color: #f36;
}

.social-links {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 24px;
  line-height: 46px;
  vertical-align: middle;
  transition-delay: 0.6s;
}
.social-links li {
  display: inline-block;
  margin: 0 2px;
}
.social-links li a {
  display: block;
  width: 40px;
  height: 40px;
  color: #666666;
  text-align: center;
  border-radius: 50%;
}
.social-links li a:hover, .social-links li a:focus {
  background: #4834d4;
  color: white;
  text-decoration: none;
}

.btn-back-to-top {
  position: fixed;
  right: 45px;
  bottom: 28px;
  width: 56px;
  height: 56px;
  padding: 0 0 2px;
  line-height: 50px;
  color: white;
  border-radius: 50%;
  outline: 0;
  z-index: 5;
  cursor: pointer;
  background: #4834d4;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
}
.btn-back-to-top.hide {
  transform: scale(0);
}
@media (max-width: 767px) {
  .btn-back-to-top {
    right: 22px;
    bottom: 18px;
    width: 44px;
    height: 44px;
    line-height: 42px;
  }
}

.section-banner {
  position: relative;
  display: table;
  overflow: hidden;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background: url("/img/banner.jpg") center no-repeat fixed;
  background-size: cover;
}
.section-banner .banner-container {
  display: table-cell;
  padding: 120px 0;
  vertical-align: middle;
  color: white;
  background: rgba(72, 52, 212, 0.8);
}
.section-banner h1 {
  font-size: 60px;
  line-height: 1.3;
}
.section-banner h1 .title-caption {
  display: block;
  padding: 4px 0;
  font-size: 16px;
  opacity: 0.56;
  text-transform: uppercase;
}
.section-banner .btn-outline {
  margin-top: 16px;
  color: white;
  border-color: currentColor;
  border-radius: 24px;
  background-color: transparent;
  background-image: none;
}
.section-banner .btn-outline:hover {
  color: #4834d4;
  background-color: white;
}
@media (max-width: 767px) {
  .section-banner h1 {
    font-size: 36px;
  }
  .section-banner .txt-static {
    display: block;
  }
  .section-banner .txt-rotate {
    white-space: nowrap;
  }
}

.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
          animation: blink 0.7s infinite;
}

@-webkit-keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
.section-about {
  margin-top: 120px;
}
.section-about .card {
  padding: 120px 16px 36px;
}
.section-about .section-title {
  margin: 0 0 24px;
}
.section-about .person-info .person-info-item {
  font-size: 13px;
  padding-bottom: 16px;
  text-align: left;
}
.section-about .person-info .person-info-item .key {
  display: inline-block;
  font-weight: 700;
  color: #555;
  text-transform: uppercase;
}
.section-about .person-info .person-info-item .val {
  display: inline-block;
  font-weight: 400;
  color: #999;
  padding-left: 5px;
}
.section-about .about-btn {
  margin-top: 36px;
}
.section-about .avatar-lg {
  position: absolute;
  top: -85px;
  left: 50%;
  width: 160px;
  height: 160px;
  margin-left: -85px;
  border: 5px solid white;
  border-radius: 50%;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.36);
  z-index: 1;
}

.section-about-bottom {
  padding: 120px 0;
}
.section-about-bottom i {
  margin-bottom: 16px;
  padding: 40px 42px;
  font-size: 40px;
  color: #777;
  border: 1px dashed rgba(0, 0, 0, 0.36);
  border-radius: 50%;
  transition: 0.2s;
}
.section-about-bottom .personal-blurb:hover i {
  color: #4834d4;
  border: 1px solid currentColor;
  box-shadow: 0 0 0 1px currentColor;
}

.section-offer {
  padding: 120px 0;
  background: #f9f9f9;
  transition: 200ms;
}
.section-offer .offer {
  position: relative;
  padding: 30px 30px 30px 100px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 6px 30px 0 rgba(0, 0, 0, 0.1);
  transition: 200ms;
}
.section-offer .offer:hover {
  color: white;
  background-color: #4834d4;
}
.section-offer .offer h4 {
  margin-top: 0;
}
.section-offer .offer p {
  margin-bottom: 0;
}
.section-offer .icons {
  font-size: 40px;
}
.section-offer .offer-icon {
  color: #777;
  position: absolute;
  left: 30px;
  top: 40px;
  transition: 0.2s;
  line-height: 0;
}
.section-offer .offer:hover .offer-icon {
  color: white;
}

.section-resume {
  padding: 120px 0;
}

.section-technical {
  padding: 120px 0;
  background: white;
}
.section-technical .skills-item {
  position: relative;
  margin-bottom: 24px;
}
.section-technical .skills .progress {
  height: 6px;
}
.section-technical .skills .progress-bar {
  border-radius: 10px;
  background-color: #4834d4;
}
.section-technical .skills .fi {
  width: 18px;
  height: 18px;
  font-size: 18px;
  text-align: center;
}

.section-portfolio {
  padding: 120px 0;
}

.demo {
  position: relative;
  display: block;
  margin-bottom: 32px;
  text-align: center;
  color: #252525;
  transition: 0.3s;
}
.demo-page {
  display: block;
  margin-bottom: 16px;
  overflow: hidden;
  border-radius: 8px;
  background-color: white;
  transition: box-shadow 0.3s;
  box-shadow: 0 7px 30px 0 rgba(0, 0, 0, 0.1);
}
.demo-page::before {
  position: relative;
  display: block;
  height: 36px;
  content: attr(href);
  padding: 10px 8px 10px 70px;
  font-size: 70%;
  color: #999;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  background: url("/img/demo-page-header.jpg") no-repeat;
  z-index: 1;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.36);
}
.demo-page-img {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  background: no-repeat top;
  background-size: cover;
  transition: background-position 0.5s;
}
.demo-page:hover {
  text-decoration: none;
  box-shadow: 0 10px 30px rgba(37, 37, 37, 0.2);
}
.demo-page:hover .demo-page-img {
  background-position: bottom;
  transition: background-position 6s linear;
}
.demo-title {
  color: #4834d4;
}

.section-contact-info {
  position: relative;
  padding: 80px 0;
  background: black;
}
.section-contact-info::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url("/img/backpakers.jpg") center no-repeat;
  background-size: cover;
  opacity: 0.16;
}
.section-contact-info .contact-info {
  display: flex;
  width: auto;
  padding: 7px 0;
}
.section-contact-info .contact-info .contact-info-icon {
  position: relative;
  padding-right: 60px;
  color: #f36;
  font-size: 40px;
  float: left;
  vertical-align: top;
  line-height: 1;
}
.section-contact-info .contact-info .contact-info-icon .fi {
  width: 40px;
  text-align: right;
}
.section-contact-info .contact-info .contact-info-icon::after {
  content: "";
  position: absolute;
  height: 57px;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.12);
  right: 30px;
  top: -8px;
}
.section-contact-info .contact-info .contact-info-content {
  vertical-align: top;
}
.section-contact-info .contact-info .contact-info-content .contact-info-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
  margin-bottom: 5px;
}
.section-contact-info .contact-info .contact-info-content .contact-content {
  font-size: 13px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.8);
}
@media (max-width: 991px) {
  .section-contact-info {
    padding: 60px 0;
  }
  .section-contact-info .contact-info {
    max-width: 300px;
    margin: 30px auto;
  }
  .section-contact-info .contact-info .contact-info-icon .fi {
    text-align: center;
  }
}

.section-contact-form {
  padding: 120px 0;
  background: white;
}
.section-contact-form .contact-form {
  margin-top: 60px;
}
.section-contact-form .form-control {
  padding: 12px 16px;
  border: 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  background: #f5f5f5;
  box-shadow: none;
}
.section-contact-form .form-control:focus {
  border-color: #4834d4;
}
.section-contact-form .btn {
  padding: 12px 24px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  border: 0;
  border-radius: 24px;
  background-color: #4834d4;
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  outline: none;
}

.section-contact-map {
  position: relative;
  min-height: 60px;
  overflow: hidden;
  background: url("/img/map-bg.jpg");
  background-size: cover;
  background-position: top;
  transition: all 5s;
}
.section-contact-map:hover {
  background-position: bottom;
}
.section-contact-map .map-buttons {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  background: rgba(72, 52, 212, 0.8);
  z-index: 5;
  transition: 1s ease;
}
.section-contact-map .map-buttons:hover {
  background: rgba(72, 52, 212, 0.5);
}
.section-contact-map .map-buttons .btn {
  position: relative;
  width: 100%;
  height: 60px;
  padding: 0;
  font-size: 13px;
  font-weight: 700;
  color: white;
  line-height: 60px;
  border: 0;
  outline: none;
  text-transform: uppercase;
  background: transparent;
  box-shadow: none;
  cursor: pointer;
  overflow: hidden;
}
.section-contact-map .map-buttons .btn#map-close {
  display: none;
}
.section-contact-map .map-buttons .btn span {
  display: inline-block;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transition: all 200ms ease-in-out;
  transform-style: preserve-3d;
}
.section-contact-map .map-buttons .btn.fi-chevron-up::before, .section-contact-map .map-buttons .btn.fi-chevron-down::before {
  position: absolute;
  height: 100%;
  width: 100%;
  font-size: 22px;
  transition: all 200ms ease-in-out;
  left: 0;
}
.section-contact-map .map-buttons .btn.fi-chevron-up:hover::before, .section-contact-map .map-buttons .btn.fi-chevron-down:hover::before {
  top: 0;
}
.section-contact-map .map-buttons .btn.fi-chevron-down::before {
  top: -100%;
}
.section-contact-map .map-buttons .btn.fi-chevron-down:hover span {
  transform: translateY(300%);
}
.section-contact-map .map-buttons .btn.fi-chevron-up::before {
  top: 100%;
}
.section-contact-map .map-buttons .btn.fi-chevron-up:hover span {
  transform: translateY(-300%);
}
.section-contact-map .map-container {
  position: relative;
  height: 400px;
  margin-top: -400px;
  overflow: hidden;
  transition: all 600ms;
}
.section-contact-map.open .map-buttons .btn#map-open {
  display: none;
}
.section-contact-map.open .map-buttons .btn#map-close {
  display: block;
}
.section-contact-map.open .map-container {
  margin-top: 0;
}